<div class="container" *ngIf="post">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <!-- Bild -->
        <img src="https://cdn.pixabay.com/photo/2023/10/12/14/41/town-8310950_1280.jpg" alt="{{ post.title }}" class="img-fluid rounded">
        
        <!-- Titel -->
        <h2 class="mt-3">{{ post.title }}</h2>
        
        <!-- Beskrivning -->
        <p>{{ post.description }}</p>
        
        <!-- Skapad datum -->
        <p class="text-muted">Skapad: {{ post.created | date: 'yyyy-MM-dd' }}</p>
        
        <!-- Uppdaterad datum -->
        <p class="text-muted">Uppdaterad: {{ post.updated | date: 'yyyy-MM-dd' }}</p>
      </div>
    </div>
  </div>